.card-slider {
	margin:auto;
	width:400px;
	text-align:center;
}
.cards {
	list-style-type:none;
	display:flex;
	position:relative;
	height:260px;
	margin:auto;
}
.card {
	height:250px;
	width:240px;
	position:absolute;
	left:50%;
	transform:translateX(-50%) translateY(0);
	transition:200ms;
	object-fit:cover;
}

.card:nth-of-type(1) {
	transform:scale(.96) translateX(-50%) translateY(-10px);
}
.card:nth-of-type(2) {
	transform:scale(.98) translateX(-50%) translateY(-5px);
}
.card--fade {
	opacity:0;
}
.card img {
	max-width:100%;
}