:root {
    --color-strong:#CC3927;
    --color-tame: #F6EADA;

    --color-black: #18130E;
}

body {
    background-color:var(--color-tame);
    margin: 0;
    padding:50px 25px 25px 25px;
}

.main__left,
.main__right {
    height:88vh;
    border:solid 3px var(--color-strong);
}
.main__left {
    background:var(--color-strong);
    display:flex;
    flex-direction:column;
    justify-content: center;
    flex:1;
    flex-wrap:wrap;
    padding:4rem 0rem 2rem 4rem;
    height:calc(88vh - 6rem);
}
.welcome {
    margin-top:15vh;
    margin-bottom:30vh;
    max-width:75%;
}
.welcome__heading {
    color:var(--color-tame);
    position:relative;
    font-family:'Space Grotesk', sans-serif;
    font-size:3rem;
    font-weight:bold;
    margin-bottom:1.5rem;
}
.welcome__heading::after {
    content: '';
    position: absolute;
    width: 60vw;
    height: 60vw;
    background: var(--color-tame);
    z-index: 0;
    opacity: .1;
    border-radius: 50%;
    left: -25vw;
    top: -25vw;
    pointer-events:none;
}
.welcome__text {
    color:var(--color-tame);
    font-family:'Space Grotesk', sans-serif;
    font-weight: lighter;
    font-size:1.2rem;
    line-height:1.4;
}
nav {
    font-family:'Space Mono', sans-serif;
    position:sticky;
    top:10;
}

nav a {
    color:var(--color-tame);
    text-decoration:none;
    font-weight:lighter;
}
nav a:not(:last-of-type)::after {
    content:"/";
    margin: 0 0.5rem;
}
nav a.active {
    text-transform:uppercase;
    font-weight:bold;
}

.main__right::-webkit-scrollbar {
    width: 5px;
  }
   
.main__right::-webkit-scrollbar-thumb {
    background: var(--color-strong);
    border-radius: 20px;
  }
  
.main__right::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
  }
.logo {
    background:var(--color-tame);
    border:solid 2px var(--color-strong);
    text-align:right;
    font-family:'Space Mono', sans-serif;
    position:absolute;
    right:4vw;
    top:1rem;
    padding:1rem;
    z-index: 10;
}
.logo__title {
    font-size:1.5rem;
    margin-bottom:.4rem;
    display:block;
    color:var(--color-strong);
    text-decoration: none;
}
.logo__tagline {
    font-size:1rem;
    color:var(--color-strong);
    display:block;
}
.section-page {
    min-height:100vh;
    margin-bottom:1rem;
}

.section__heading {
    font-family:'Space Grotesk', sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    font-size:2.5rem;
    color:var(--color-strong);
    margin:0 auto auto -1em;
    padding-top:10vh;
    text-shadow: 4px 3px 0px var(--color-tame);
    /* position:sticky;
    top:5px; */
}
.section__heading span {
    display:block;
}

/* list items */
.list {
    margin:4rem auto auto auto;
    width:80%;
    
}
.list-item {
    border-top:solid 1px var(--color-strong);
    padding:1rem 1rem 1rem 3rem;
}
.list-item:last-of-type {
    border-bottom:solid 1px var(--color-strong);
}
.list-item__category {
    text-transform:uppercase;
    font-family:'Space Grotesk', sans-serif;
    font-size:.8rem;
    letter-spacing:3px;
    font-weight:lighter;
    margin-bottom:.3rem;
    color:var(--color-black);
}
.list-item__title {
    font-family:'Space Grotesk', sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    font-size:1.8rem;
    color:var(--color-black);
}
.list-item__link {
    font-family:'Space Grotesk', sans-serif;
    color:var(--color-black);
    text-decoration:none;
}
/* list, resume modifier */
.list--experience .list-item {
    border:none;
    padding:3rem 1rem 3rem 3rem;
    position:relative;
}
.list--experience .list-item::before {
    content:'';
    width:10px;
    height:10px;
    background:var(--color-black);
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
.list--experience .list-item:not(:last-of-type)::after {
    content: '';
    height: 100%;
    width: 1px;
    background: var(--color-black);
    position: absolute;
    left: 5px;
    top: 50%;
}
/* media queries */
@media(min-width:768px) {
    .main-content {
        display:grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr ;
    }
    .main__right {
        overflow-y:scroll;
        scroll-behavior: smooth;
    }
    nav {
        position:relative;
    }
}
